/* GENERAL */

main {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

/* USER INFO */

.user-info {
  padding: 1rem 2rem;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  padding-bottom: 1rem;
}

span {
  font-weight: 700;
}

/* COUNTER */

.counter {
  border: 2px solid black;
  border-radius: 20px;
  height: fit-content;
  padding: 0 2rem;
  margin: 2rem 0;
}

h1,
.counter p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.btn {
  border-radius: 50%;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.green:hover {
  background-color: rgba(0, 128, 0);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.red:hover {
  background-color: rgba(255, 0, 0);
}

@media only screen and (max-width: 1000px) {
  .user-info {
    width: auto;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 700px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .counter {
    width: fit-content;
  }
}
