/* GENERAL */

main {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

/* USER INFO */

.user-info {
  padding: 1rem 2rem;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  padding-bottom: 1rem;
}

span {
  font-weight: 700;
}

/* COUNTER */

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.btn {
  border-radius: 50%;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.green:hover {
  background-color: rgba(0, 128, 0);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.red:hover {
  background-color: rgba(255, 0, 0);
}
